<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    tools:context=".MuQuestions">

    <LinearLayout
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_gravity="center_vertical|center_horizontal"
        android:orientation="vertical">

        <TextView
            android:id="@+id/question_text_view"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            android:padding="32dp" />

        <LinearLayout
            android:layout_height="wrap_content"
            android:layout_width="wrap_content"
            android:layout_gravity="center"
            android:orientation="horizontal">

            <Button
                android:id="@+id/option_a"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="@string/optionA" />

            <Button
                android:id="@+id/option_b"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="@string/optionB" />

        </LinearLayout>

        <LinearLayout
            android:layout_height="wrap_content"
            android:layout_width="wrap_content"
            android:layout_gravity="center"
            android:orientation="horizontal">

            <Button
                android:id="@+id/option_c"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="@string/optionC" />

            <Button
                android:id="@+id/option_d"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="@string/optionD" />

        </LinearLayout>

        <Button
            android:id="@+id/next_button"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            android:text = "@string/next_button"
            android:drawablePadding="4dp"/>

    </LinearLayout>

</FrameLayout>
